.principal{
	padding-bottom: 0;
}
.position{
	background: white;
	width: 80%;
	margin: 40px auto;
}
.position a{
	color: black;
}
.centre{
	display: flex;
	align-items: center;
	padding: 20px;
}
.centre img{
	transition: .3s;
}
.centre img:hover{
	transform: scale(1.1);
	transition: .3s;
}
.texte{
	margin: 0 auto;
	font-size: 20px;
}
.texte h1{
	text-align: center;
}
.texte h4{
	font-weight: normal;
}
.texte h2,.texte h4,.texte p{
	padding: 20px 0;
}
.pagination{
	background: white;
	padding: 10px;
	display: flex;
	justify-content: center;
}
.pagination .page{
	display: flex;
}
.pagination .page a{
	padding: 0 4px;
	color: black;
	font-size: 20px;
}
.pagination .page a:hover{
	text-decoration: underline;
}
@media (min-width:801px) and (max-width:1050px){
	.texte{
		text-align: center;
	}
}
@media (min-width:701px) and (max-width:800px){
	.auteur{
		padding: 300px 0 70px 0;
	}
	.texte{
		text-align: center;
	}
}
@media screen and (max-width: 700px){
	.auteur{
		padding: 300px 0 70px 0;
	}
	.centre{
		flex-direction: column;
		text-align: center;
	}
	.texte{
		padding-top: 20px;
	}
}