*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
}
body{
	background-color: gray;
}
h1,h2,h3,h4,h5,h6,dt,button{
	font-family: "Eras Bold ITC";
}
p,a,em,dd,li{
	font-family: "Book Antiqua";
}
header,footer,header a{
	color: white;
}
::-webkit-scrollbar {
  width: 15px;
  height: 8px;
  background:#1b1b1b;
}
::-webkit-scrollbar-thumb{
	background: #ddd;
	border-radius: 10px;
}