.principal{
	cursor: url("../img/book_close.png"), pointer;
}
.select{
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}
.select select{
	padding: 5px;
	margin: 0 10px;
}
.select button{
	padding: 5px;
	color: white;
}
.container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}
.desktop{
	display: flex;
	margin: 50px 20px;
	justify-content: space-between;
}
.desktop a{
	color: black;
}
.position{
	width: 340px;
	height: 340px;
	border-radius: 6px;
	transition: .5s;
	overflow: hidden;
}
.position:hover{
	background: white;
	cursor: url("../img/livre_ouvert.png"), pointer;
}
.position img{
	width: 340px;
	height: 340px;
	transition: .5s;
}
.position:hover img{
	width: 120px;
	height: 120px;
	background: none;
	margin: 0 0 30px 0;
}
dl{
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}
dt{
	font-size: 18px;
	padding-bottom: 20px;
	font-weight: bold;
}
